@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.tx-altfont-1 {     font-family: 'Raleway', sans-serif !important}

.tx-altfont-2 {

}
.tx-altfont-3 { font-family: 'Gajraj One', cursive !important}
.tx-altfont-4 {     font-family: 'Marko One', serif !important}
.tx-altfont-5 {     font-family: 'Lobster', serif !important}

.mainbackground {
    background: linear-gradient(45deg, #0B0A09 50%, #272321);
    min-width: 100%;
    min-height: 100%;
}